* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 76px;
}

* {
  font-family: 'Montserrat', sans-serif;;
}

p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

p.small {
  font-size: 12px;
  line-height: 18px;
}

p.large {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  color: #333333;
}


h3 {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

h3.large {
  font-size: 20px;
  line-height: 28px;
  color: #333333;
}

.blog-bg {
  position: absolute;
  left: 0;
  top: 400px;
  width: 100vw;
  z-index: -1;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-image: url("/list.svg");
}

li {
  position: relative;
  left: 22px;
  color: #333333;
}

li li {
  margin-top: 8px;
  list-style: none;
}